<pages enableViewState="false" buffer="true"></pages>

@model MBS.Web.Portal.Models.UserManagementViewModel

@{
    ViewBag.Title = "User Management";
}

@Scripts.Render("~/Scripts/UserManagementIndex.js?v=1." + MBS.DataCache.StaticCodeList.VersionNumber)    

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body">        
        <div class="pull-left">
            <button class="btn btn-sm control_buttons" onclick="window.location.href='@Url.Action("Register", "UserManagement")'">
                <img src="@Url.Content("~/Content/images/icon_add.png")" title="Add User" />
                <span>Add User</span>
            </button>            
            <button id="sendBulkEmailButton" class="btn btn-sm control_buttons" data-toggle="modal" data-target="#emailBulkModal" style="display:none;">
                <img src="@Url.Content("~/Content/images/icon_mail.png")" title="Send Bulk Emails" />
                <span>Send Bulk Emails</span>
            </button> 
        </div>
        <div class="pull-right">
            <span id="memoryUsage" style="padding-left:20px;font-weight:bold;">Memory Report</span>
        </div>

        <br /><br />
        <p style="font-weight:bold;font-size:18px;">Enable Users</p>
        <table id="enableUsers" class="userTable table table-hover">
            <thead>
                <tr>                       
                    <th>
                        <input type="checkbox" id="toggleAll" />
                    </th>
                    <th class="col-sm-1">User Name</th>
                    <th class="col-sm-2">Name</th>                    
                    <th class="col-sm-1">Email</th>
                    <th class="col-sm-1">Created Date</th>
                    <th class="col-sm-1">Last Activity Date</th>
                    <th class="col-sm-1">Account Status</th>
                    <th class="col-sm-3"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users.Where(x => !x.IsLockOut))
                {            
                    <tr id="@item.UserId" onmouseover="$(this).find('.reset_password').show()" onmouseout="$(this).find('.reset_password').hide()" >
                        <td>
                            <input type="checkbox" class="enable_user_checkbox" />
                        </td>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            @item.Name
                        </td>                        
                        <td id="email_@item.UserId">
                            @item.Email
                        </td>   
                        <td>
			                @string.Format("{0}/{1}/{2}", item.CreatedDate.ToString("dd"), item.CreatedDate.ToString("MM"), item.CreatedDate.ToString("yyyy"))
                        </td>             
                        <td>
			                @string.Format("{0}/{1}/{2}", item.LastLoginDate.ToString("dd"), item.LastLoginDate.ToString("MM"), item.LastLoginDate.ToString("yyyy"))
                        </td>
                        <td>

			                @{
                                var statusWord = "Lock";
                                var imgUrl = "~/Content/images/icon_lock.png";
                                if (item.IsLockOut)
							    {
                                    statusWord = "Unlock";
                                    imgUrl = "~/Content/images/icon_okay.png";
							    }							    
                            }
                            <button class="btn btn-xs control_buttons @(statusWord.ToLower())" onclick="ChangeLockStatus('@item.UserId');CancelPropagation(event);" >
                                <img src="@Url.Content(imgUrl)" />
                                <span>@(statusWord)?</span>
                            </button>
                        </td>    
                        <td>
                            <div class="control_buttons clearfix reset_password" style="display:none;">
                                <button class="btn btn-xs" onclick="OpenDetail('@item.UserId');CancelPropagation(event);">
                                    <img src="@Url.Content("~/Content/images/icon_edit.png")" title="Password" />
                                    <span>Password</span>
                                </button>
                                <button id="btnImpersonate" class="btn btn-xs" onclick="ImpersonateUser('@item.UserId');CancelPropagation(event);">
                                    <img src="@Url.Content("~/Content/images/icon_user.png")" title="Impersonate" />
                                    <span>Impersonate</span>
                                </button>                                
                            </div>                           
                        </td>            
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="emailBulkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Send Bulk Email</h4>
            </div>
            <div class="modal-body">
                <div style="width:59%;float:left;">
                    <label class="control-label pad_first_inline">Message Subject:<span style='color:red'> *</span></label>
                    <input type="text" id="emailSubject" class="form-control" style="width:99%;" value="Message from Perspect Billing System" maxlength="200" />
                    <label class="control-label pad_first_inline">Message Body:<span style='color:red'> *</span></label>
                    <textarea id="emailContent" rows="12" cols="20" maxlength="500"  class="form-control"></textarea>
                    <label class="control-label pad_first_inline">Character Left:</label>
                    <span id="wordCounter" style="padding-left:10px;font-weight:700"></span>
                </div>
                <div style="width:39%;float:right;">
                    <label class="control-label pad_first_inline">Email Sent Result</label>
                    <div id="sendResult" class="form-control" style="height:300px;overflow:scroll;"></div>
                </div>
                <div style="clear:both;"><!-- usually leave this empty --></div>
            </div>
            <div class="modal-footer">
                <div class="pull-left" style="color:red;" id="errorMessage">                    
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SendBulkEmail();CancelPropagation(event);">Send</button>
            </div>            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
    $(function () {
        $("#toggleAll").on("change", function () {
            var checkBoxes = $(".enable_user_checkbox");
            checkBoxes.prop("checked", $("#toggleAll").prop("checked"));
            $("#sendBulkEmailButton").toggle($("#toggleAll").prop("checked"));
        });

        $(".enable_user_checkbox").on("change", function () {
            $("#sendBulkEmailButton").toggle($(".enable_user_checkbox:checked").length > 0);
        });

        $('.userTable').dataTable({
            "lengthChange": false,
            "searching": true,
            "pageLength": 500,
            "order": [[1, "asc"]],
            "columns": [
                { "orderable": false },
                null,
                null,
                null,
                { "orderDataType": "dom-text", "type": "date-eu" },
                { "orderDataType": "dom-text", "type": "date-eu" },
                { "orderable": false },
                { "orderable": false }
            ]
        });

        $("#emailContent").keyup(function () {
            var myLimit = 500;
            var commentBox = $(this).val();
            var count = myLimit - commentBox.length;
            $("#wordCounter").html(count);
        });

        $("#emailContent").keyup();

        GetMemoryInfo();
    });

    function GetMemoryInfo()
    {
        setTimeout(function ()
        {
            $.ajax({
                async: true,
                type: "GET",
                url: _applicationBaseUrl + '/UserManagement/GetCurrentMemory',
                success: function (data) {
                    if (data == "" || data == null) {
                        $("#memoryUsage").html("No Memory Info");
                    } else {
                        
                        $("#memoryUsage").html(data + " Used");
                    }                                           
                },
                error: function (msg) {
                },
                complete: function () {
                    GetMemoryInfo();
                }
            });

        }, 30000);
    }

</script>
