<pages enableViewState="false" buffer="true"></pages>

@model MBS.Web.Portal.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset User Password";
}

<style>
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    .tooltip-inner {
        text-align:left;
    }

    div[class="tooltip-inner"] {
        max-width: 350px;
    }

    .form-horizontal .form-group {
        margin-right: -40px;
    }
</style>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body">  
        <button class="btn btn-sm control_buttons" onclick="window.location.href='@Url.Action("Index", "UserManagement")';">
            <img src="@Url.Content("~/Content/images/icon_back.png")" title="Back to User Management" />
            <span>Back to User Management</span>
        </button>      
        <p style="margin-top:10px;color: #31708f;"></p>
        @using (Html.BeginForm("ResetPassword", "UserManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {                                                            
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
			@Html.HiddenFor(m => m.UserId)

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-2 control-label" })
				<a href="javascript:void();" id="PasswordRequirement" class="pull-left control-label" style="padding-right:5px;" onclick="return false;" data-toggle="tooltip" 
                  title="<ul><li>Must be at least 7 characters</li><li>Must have 1 digit</li><li>Must have 1 special character (!.@("@")#$%^&+=)</li></ul>">?</a>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", style="width:200px;", tabindex="1" })
            </div>
			<div class="form-group">
                @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "col-sm-2 control-label" })
                <a href="javascript:void(); " class="pull-left control-label" style="padding-right:10px;">&nbsp;</a>
                @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control", style="width:200px;", tabindex="2" })
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2">
                    <button class="btn btn-default" type="submit" tabindex="3">Update</button>
                </div>
            </div>
		}
	</div>
</div>

<script type="text/javascript">       
    $(function () {        
        AdminResetPasswordPageLoad();
    });
</script>