@model MBS.Web.Portal.Models.ClaimsPDFReportViewModel
@{
    Layout = null;
}

<itext creationdate="@DateTime.UtcNow.AddHours(Model.TimeZoneOffset).ToString()" producer="Perspect Medical Billing System">

    <paragraph>
	    <chunk style="font-family:Times;">CLAIMS REPORT - </chunk>
        <chunk style="font-family:Times;">@Model.ReportType            </chunk>
        <chunk style="font-family:Times;">DOWNLOAD DATE: </chunk>
        <chunk style="font-family:Times;">@DateTime.UtcNow.AddHours(Model.TimeZoneOffset).ToString()</chunk>
    </paragraph>    
    <newline />
    <paragraph>
        <chunk style="font-family:Times;">PRACTITIONER # @Model.DoctorNumber</chunk>
    </paragraph>
    <newline />
    <table width="100%" cellpadding="1.0" cellspacing="1.0" widths="30;30;30">
        <row>
	        <cell><chunk style="font-family:Times;">Claim Number</chunk></cell>
	        <cell><chunk style="font-family:Times;">Service Date</chunk></cell>
	        <cell><chunk style="font-family:Times;">Amount</chunk></cell>
        </row>
    
        @foreach (var item in Model.RecordList.Where(x => string.IsNullOrEmpty(x.WCBStatus)))
        {
            <row>
	            <cell><chunk style="font-family:Times;">@item.ClaimNumber</chunk></cell> 
                <cell><chunk style="font-family:Times;">@item.ServiceDate.ToString("dd/MM/yyyy")</chunk></cell> 
                <cell><chunk style="font-family:Times;">@string.Format("{0:C}", item.PaidAmount)</chunk></cell>
            </row>
        }
    
    </table>

    <newline />
    <paragraph>
        <chunk style="font-family:Times;">TOTAL NO OF CLAIMS = </chunk>
        <chunk style="font-family:Times;">@Model.NumberOfClaims</chunk>
    </paragraph>
    <newline />   
    <paragraph>
        <chunk style="font-family:Times;">TOTAL AMOUNT = </chunk>
        <chunk style="font-family:Times;">@string.Format("{0:C}", Model.TotalPaidAmount)</chunk>
    </paragraph> 

    @if (Model.RecordList.Where(x => !string.IsNullOrEmpty(x.WCBStatus)).Count() > 0)
    {
    <newline />
    <paragraph>
        <chunk style="font-family:Times;">WCB Claims Not Validated</chunk>
    </paragraph>    
    <table width="100%" cellpadding="1.0" cellspacing="1.0" widths="30;30;30">
        <row>
	        <cell><chunk style="font-family:Times;">Claim Number</chunk></cell>
	        <cell><chunk style="font-family:Times;">Service Date</chunk></cell>
	        <cell><chunk style="font-family:Times;">Amount</chunk></cell>
        </row>
    
        @foreach (var item in Model.RecordList.Where(x => !string.IsNullOrEmpty(x.WCBStatus)))
        {
            <row>
	            <cell><chunk style="font-family:Times;">@item.ClaimNumber</chunk></cell> 
                <cell><chunk style="font-family:Times;">@item.ServiceDate.ToString("dd/MM/yyyy")</chunk></cell> 
                <cell><chunk style="font-family:Times;">@string.Format("{0:C}", item.PaidAmount)</chunk></cell>
            </row>
        }
    
    </table>

    <newline />
    <paragraph>
        <chunk style="font-family:Times;">TOTAL NO OF CLAIMS = </chunk>
        <chunk style="font-family:Times;">@Model.WCBNumberOfClaims</chunk>
    </paragraph>
    <newline />   
    <paragraph>
        <chunk style="font-family:Times;">TOTAL AMOUNT = </chunk>
        <chunk style="font-family:Times;">@string.Format("{0:C}", Model.WCBTotalPaidAmount)</chunk>
    </paragraph> 
    }
</itext>