<pages enableViewState="false" buffer="true"></pages>

@using MBS.Web.Portal.Constants
@model MBS.Web.Portal.Models.ServiceRecordDetailModel

<style>
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    .tooltip-inner {
        text-align: left;
    }

    div[class="tooltip-inner"] {
        max-width: 600px;
    }

    * html .ui-autocomplete {
        height: 200px;
    }

    .pad_inline {
        padding-left: 35px;
    }

    .pad_first_inline {
        padding-left: 15px;
    }

    .ui-autocomplete {
        font-size: 10px;
        width: 375px;
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
</style>

@Scripts.Render("~/Scripts/ServiceRecordAction.js?v=" + MBS.DataCache.StaticCodeList.VersionNumber)

<div id="ServiceInfo" style="float:left;display:block;width:1200px;">
    <div style="width:900px;float:left;">
        <div class="form-group">
            @Html.LabelFor(m => m.Record.Province, new { @class = "col-sm-3 control-label" })
            @Html.DropDownListFor(m => m.Record.Province, ViewBag.ProvinceList as SelectList, new { @class = "form-control", style = "width:200px;", tabIndex = "1" })
        </div>
        <div class="form-group">
            <label for="HospitalNumber" class="col-sm-3 control-label">
                Hospital Number
                <span style="color:red"> *</span>
                <a href="javascript:void();" id="HospitalNumberLink" class="control-label" onclick="return false;" data-toggle="tooltip"
                   title="<div style='padding-left:40px;'><b>Format</b><ul><li>BC - 10 numeric</li><li>AB - 9 numeric</li><li>MB - 9 numeric</li><li>ON - 10 numeric</li><li>NB - 9 numeric</li><li>NS - 10 numeric</li><li>PE - 8 numeric</li><li>NL - 12 numeric</li><li>YT - 9 numeric</li><li>NT - One of the following D,H,M,N,T and followed by 7 numeric</li><li>NU - 1 followed by 8 numeric</li></ul></div>">?</a>
            </label>
            @Html.TextBoxFor(m => m.Record.HospitalNumber, new { @class = "form-control", maxlength = "12", style = "float:left;width:150px;", tabIndex = "2" })
            <label id="ErrorHSN" style="float:left;padding-left:5px;color:red;display:none;">&nbsp;Invalid HSN</label>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Record.PatientLastName, new { @class = "col-sm-3 control-label" })
            @Html.TextBoxFor(m => m.Record.PatientLastName, new { @class = "form-control", maxlength = "250", style = "width:450px;", tabIndex = "3" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Record.PatientFirstName, new { @class = "col-sm-3 control-label" })
            @Html.TextBoxFor(m => m.Record.PatientFirstName, new { @class = "form-control", maxlength = "250", style = "width:450px;", tabIndex = "4" })
        </div>
        <div class="form-group">
            <label for="BirthDateString" class="col-sm-3 control-label">Date of Birth <span style="font-size:10px">(mmyy)</span></label>
            <div style="float:left">
                @Html.TextBoxFor(m => m.BirthDateString, new { @class = "form-control", maxlength = "4", style = "width:60px;", tabIndex = "5" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Record.Sex, new { @class = "col-sm-3 control-label" })
            @Html.TextBoxFor(m => m.Record.Sex, new { @class = "form-control", maxlength = "1", style = "width:40px;", tabIndex = "6" })
        </div>
        <div class="form-group">
            <label for="DoctorName" class="col-sm-3 control-label">Referring Surgeon</label>
            @Html.TextBox("DoctorName", null, new { @class = "form-control", style = "width:450px;", tabIndex = "7" })
        </div>
        <div class="form-group">
            <label for="Record_ReferringDoctorNumber" class="col-sm-3 control-label">Referring Doctor #</label>
            @Html.TextBoxFor(m => m.Record.ReferringDoctorNumber, new { @class = "form-control", maxlength = "4", style = "width:80px;", tabIndex = "8" })
        </div>
        @*<div class="form-group">
        @Html.LabelFor(m => m.Record.FacilityNumber, new { @class = "col-sm-3 control-label" })
        @Html.DropDownListFor(m => m.Record.FacilityNumber, ViewBag.FaciltiyNumberList as SelectList, new { @class = "form-control", style = "width:150px;", tabIndex = "10" })
        <label id="ErrorFacilityNumber" style="float:left;padding-left:5px;color:red;display:none;">&nbsp;Invalid Facility Number</label>
    </div>*@
        <div class="form-group">
            @Html.LabelFor(m => m.Record.ServiceLocation, new { @class = "col-sm-3 control-label" })
            @Html.DropDownListFor(m => m.Record.ServiceLocation, ViewBag.ServiceLocationList as SelectList, new { @class = "form-control", style = "width:300px;", tabIndex = "11" })
        </div>
        <div class="form-group">
            <label for="ServiceDateString" class="col-sm-3 control-label">Service Date <span style="font-size:10px">(ddmmyy)</span></label>
            <div style="float:left">
                @Html.TextBoxFor(m => m.ServiceDateString, new { @class = "form-control", type = "text", maxlength = "6", style = "width:85px;", tabIndex = "12" })
            </div>
        </div>
        <div class="form-group" id="DischargeDateDiv" style="display: none;">
            <label for="DischargeDateString" class="col-sm-3 control-label">Discharge Date <span style="font-size:10px">(ddmmyy)</span></label>
            <div style="float:left">
                @Html.TextBoxFor(m => m.DischargeDateString, new { @class = "form-control", type = "text", maxlength = "6", style = "width:85px;", tabIndex = "16" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3"></label>
            <label for="PremiumCode" class="col-sm-3">
                Premium Code
               <a href="javascript:void();" id="PremiumCodeLink" class="control-label" onclick="return false;" data-toggle="tooltip"
                   title="<img src='@Url.Content("~/Content/images/locationofservice.jpg")'>">?</a>
            </label>
            <label for="SpecialCircumstances" class="col-sm-3" style="padding-left: 20px;">
                Special Circumstance
                <a href="javascript:void();" id="SpecialCircumstanceLink" class="control-label" onclick="return false;" data-toggle="tooltip"
                   title="<div style='padding-left:5px;'>Only fee code with fee determinent with W and X can use the Special Circumstance - Billing Technical Fees Only, Interpretation Fees Only, Combined Tech and Interp. Fees! Takeover - Anesthetic can be applied to any fee codes!</div>">?</a>
            </label>
            <label for="RunCode" class="col-sm-3" style="padding-left: 20px;">
                Run Code
                <a href="javascript:void();" id="RunCodeLink" class="control-label" onclick="return false;" data-toggle="tooltip"
                   title="<div style='padding-left:5px;'>Format - RC: QV (QP), QV is the current run code, QP is the original run code.</div>">?</a>
            </label>
        </div>
        @*
        <div class="form-group">
            <label for="PremiumCode" class="col-sm-3 control-label">
                Premium Code
                <!--<a href="javascript:void();" id="PremiumCodeLink" class="control-label" onclick="return false;" data-toggle="tooltip"
                title="<div style='padding-left:40px;'><b>Preimum Code and Rate</b><ul><li>2 = In Patient</li><li>3 = Out Patient</li><li>b = 1700 – 2359</li><li>k = 2400 - 0700</li></ul></div>">?</a>-->
                <a href="javascript:void();" id="PremiumCodeLink" class="control-label" onclick="return false;" data-toggle="tooltip"
                   title="<img src='@Url.Content("~/Content/images/locationofservice.jpg")'>">?</a>
            </label>
            @Html.DropDownListFor(m => m.PremiumCode, ViewBag.LocationOfServiceList as SelectList, new { @class = "form-control", style = "width:60px;", tabIndex = "13" })
        </div>
        <div class="form-group">
            <label for="ServiceStartTimeString" class="col-sm-3 control-label">
                Start Time <span style="font-size:10px">(hhmm)</span>
                <a href="javascript:void();" id="CalculationStartNoteLink" class="control-label" onclick="return false;" data-toggle="tooltip"
                    title="If you enter the Start Time and End Time, and they will be copied to each Unit Record!">?</a>
            </label>
            @Html.TextBoxFor(m => m.ServiceStartTimeString, new { @class = "form-control", maxlength = "4", style = "float:left;width:60px;", tabIndex = "14" })
            <label id="ErrorServiceStartTimeString" style="float:left;padding-left:5px;color:red;display:none;">&nbsp;Invalid Entry</label>
        </div>
        <div class="form-group">
            <label for="ServiceEndTimeString" class="col-sm-3 control-label">
                End Time <span style="font-size:10px">(hhmm)</span>
                <a href="javascript:void();" id="CalculationEndNoteLink" class="control-label" onclick="return false;" data-toggle="tooltip"
                    title="If you enter the Start Time and End Time, and they will be copied to each Unit Record!">?</a>
            </label>
            @Html.TextBoxFor(m => m.ServiceEndTimeString, new { @class = "form-control", maxlength = "4", style = "float:left;width:60px;", tabIndex = "15" })
            <label id="ErrorServiceEndTimeString" style="float:left;padding-left:5px;color:red;display:none;">&nbsp;Invalid Entry</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Total Number of Units</label>
            <input type="text" class="form-control" id="TotalUnits" onfocus="this.blur();" value="" style="width:50px" />
        </div>
        *@

    </div>
    <div style="width:900px;float:left">
        <div class="form-group">
            <label class="col-sm-3 control-label">                
                @if (!string.IsNullOrEmpty(Model.RunCode1))
                {
                    <span style="color:brown;">RC: @(Model.RunCode1) 
                        @if (!string.IsNullOrEmpty(Model.OriginalRunCode1))
                        {
                            @("(" + Model.OriginalRunCode1 + ")")
                        }
                    </span>
                    @Html.HiddenFor(x => x.RunCode1)
                    @Html.HiddenFor(x => x.OriginalRunCode1)
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode1))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode1)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc1)" class="explainCode">@(Model.ExplainCode1)</a>
                    </span>
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode1b))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode1b)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip"  title="@(Model.ExplainCodeDesc1b)" class="explainCode">@(Model.ExplainCode1b)</a>
                    </span>
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode1c))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode1c)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip"  title="@(Model.ExplainCodeDesc1c)" class="explainCode">@(Model.ExplainCode1c)</a>
                    </span>
                }

                <span>Unit 1</span>
            </label>
            <div class="form-inline" style="width:1500px">
                <div class="form-group pad_first_inline">
                    <span style="padding-left:3px;font-weight:100;">
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" class="feeCodeLabel">Code</a>
                    </span>
                    @Html.TextBoxFor(m => m.UnitCode1, new { @class = "form-control", maxlength = "20", style = "width:60px;", tabIndex = "17" })
                    @Html.HiddenFor(m => m.UnitCodeAmount1)
                    @Html.HiddenFor(m => m.UnitSubmittedRecordIndex1)
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Units</label>
                    @Html.TextBoxFor(m => m.UnitNumber1, new { @class = "form-control", maxlength = "2", style = "width:45px;", tabIndex = "18" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitStartTime1">Start</label>
                    @Html.TextBoxFor(m => m.UnitStartTime1, new { @class = "form-control", maxlength = "4", style = "width:60px;", tabIndex = "19" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitEndTime1">End</label>
                    @Html.TextBoxFor(m => m.UnitEndTime1, new { @class = "form-control", maxlength = "4", style = "width:60px;", tabIndex = "20" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitAmount1">Amt</label>
                    <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.UnitAmountDesc1)" class="paidAmountToolTip" style="display:none;">?</a>
                    @Html.TextBoxFor(m => m.UnitAmount1, new { @class = "form-control", maxlength = "7", style = "width:85px;" })

                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Prem</label>
                    @Html.DropDownListFor(m => m.UnitPremiumCode1, ViewBag.LocationOfServiceList as SelectList, new { @class = "form-control", style = "width:60px;", tabIndex = "21" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Prem $</label>
                    <input id="UnitPremiumFeeCode1" maxlength="8" style="width:85px;" class="form-control" onfocus="this.blur();" />
                </div>
                <div class="form-group pad_inline diagcodediv">
                    <span style="padding-left:3px;font-weight:100;">
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" class="diagCodeLabel" title="No description available.">Diag</a><span style='color:red'>*</span>
                    </span>
                    @Html.TextBoxFor(m => m.DiagCode1, new { @class = "form-control diagcodeauto1", maxlength = "20", style = "width:55px;", tabIndex = "22" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Type</label>
                    @Html.DropDownListFor(m => m.RecordClaimType1, ViewBag.RecordClaimTypeList as SelectList, new { @class = "form-control", style = "width:100px;", tabIndex = "23" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Spec Cir</label>
                    @Html.DropDownListFor(m => m.SpecialCircumstanceIndicator1, ViewBag.SpecialCircumstancesIndicatorList as SelectList, new { @class = "form-control", style = "width:100px;", tabIndex = "24" })
                </div>                
            </div>
        </div>
        @*<div class="form-group">
                <label class="col-sm-3 control-label">
                </label>
                <div class="form-inline" style="width:1200px">                    
                    <div class="form-group pad_inline">
                        <label class="control-label">B/L 1</label>
                        @Html.DropDownListFor(m => m.BilateralIndicator1, ViewBag.BilateralIndicatorList as SelectList, new { @class = "form-control", style = "width:80px;", tabIndex = "25" })
                    </div>
                </div>
            </div>*@
        <div class="form-group">
            <label class="col-sm-3 control-label">
                @if (!string.IsNullOrEmpty(Model.RunCode2))
                {
                    <span style="color:brown;">
                        RC: @(Model.RunCode2)
                        @if (!string.IsNullOrEmpty(Model.OriginalRunCode2))
                        {
                            @("(" + Model.OriginalRunCode2 + ")")
                        }
                    </span>
                    @Html.HiddenFor(x => x.RunCode2)
                    @Html.HiddenFor(x => x.OriginalRunCode2)
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode2))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode2)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc2)" class="explainCode">@(Model.ExplainCode2)</a>
                    </span>
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode2b))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode2b)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc2b)" class="explainCode">@(Model.ExplainCode2b)</a>
                    </span>
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode2c))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode2c)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc2c)" class="explainCode">@(Model.ExplainCode2c)</a>
                    </span>
                }

                <span>Unit 2</span>
            </label>
            <div class="form-inline" style="width:1500px">
                <div class="form-group pad_first_inline">
                    <span style="padding-left:3px;font-weight:100;">
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" class="feeCodeLabel">Code</a>
                    </span>
                    @Html.TextBoxFor(m => m.UnitCode2, new { @class = "form-control", maxlength = "20", style = "width:60px;", tabIndex = "26" })
                    @Html.HiddenFor(m => m.UnitCodeAmount2)
                    @Html.HiddenFor(m => m.UnitSubmittedRecordIndex2)
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Units</label>
                    @Html.TextBoxFor(m => m.UnitNumber2, new { @class = "form-control", maxlength = "2", style = "width:45px;", tabIndex = "27" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitStartTime2">Start</label>
                    @Html.TextBoxFor(m => m.UnitStartTime2, new { @class = "form-control", maxlength = "4", style = "width:60px;", tabIndex = "28" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitEndTime2">End</label>
                    @Html.TextBoxFor(m => m.UnitEndTime2, new { @class = "form-control", maxlength = "4", style = "width:60px;", tabIndex = "29" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitAmount2">Amt</label>
                    <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.UnitAmountDesc2)" class="paidAmountToolTip" style="display:none;">?</a>
                    @Html.TextBoxFor(m => m.UnitAmount2, new { @class = "form-control", maxlength = "7", style = "width:85px;" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Prem</label>
                    @Html.DropDownListFor(m => m.UnitPremiumCode2, ViewBag.LocationOfServiceList as SelectList, new { @class = "form-control", style = "width:60px;", tabIndex = "30" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Prem $</label>
                    <input id="UnitPremiumFeeCode2" maxlength="8" style="width:85px;" class="form-control" onfocus="this.blur();" />
                </div>
                <div class="form-group pad_inline diagcodediv">
                    <span style="padding-left:3px;font-weight:100;">
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" class="diagCodeLabel" title="No description available.">Diag</a><span style='color:red'>*</span>
                    </span>
                    @Html.TextBoxFor(m => m.DiagCode2, new { @class = "form-control diagcodeauto2", maxlength = "20", style = "width:55px;", tabIndex = "31" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Type</label>
                    @Html.DropDownListFor(m => m.RecordClaimType2, ViewBag.RecordClaimTypeList as SelectList, new { @class = "form-control", style = "width:100px;", tabIndex = "32" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Spec Cir</label>
                    @Html.DropDownListFor(m => m.SpecialCircumstanceIndicator2, ViewBag.SpecialCircumstancesIndicatorList as SelectList, new { @class = "form-control", style = "width:100px;", tabIndex = "33" })
                </div>
            </div>
        </div>
        @*<div class="form-group">
                <label class="col-sm-3 control-label">
                </label>
                <div class="form-inline" style="width:1200px">
                    
                    
                    <div class="form-group pad_inline">
                        <label class="control-label">B/L 2</label>
                        @Html.DropDownListFor(m => m.BilateralIndicator2, ViewBag.BilateralIndicatorList as SelectList, new { @class = "form-control", style = "width:80px;", tabIndex = "34" })
                    </div>
                </div>
            </div>*@
        <div class="form-group">
            <label class="col-sm-3 control-label">
                @if (!string.IsNullOrEmpty(Model.RunCode3))
                {
                    <span style="color:brown;">
                        RC: @(Model.RunCode3)
                        @if (!string.IsNullOrEmpty(Model.OriginalRunCode3))
                        {
                            @("(" + Model.OriginalRunCode3 + ")")
                        }
                    </span>
                    @Html.HiddenFor(x => x.RunCode3)
                    @Html.HiddenFor(x => x.OriginalRunCode3)
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode3))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode3)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc3)" class="explainCode">@(Model.ExplainCode3)</a>
                    </span>
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode3b))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode3b)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc3b)" class="explainCode">@(Model.ExplainCode3b)</a>
                    </span>
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode3c))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode3c)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc3c)" class="explainCode">@(Model.ExplainCode3c)</a>
                    </span>
                }

                <span>Unit 3</span>
            </label>
            <div class="form-inline" style="width:1500px">
                <div class="form-group pad_first_inline">
                    <span style="padding-left:3px;font-weight:100;">
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" class="feeCodeLabel">Code</a>
                    </span>
                    @Html.TextBoxFor(m => m.UnitCode3, new { @class = "form-control", maxlength = "20", style = "width:60px;", tabIndex = "35" })
                    @Html.HiddenFor(m => m.UnitCodeAmount3)
                    @Html.HiddenFor(m => m.UnitSubmittedRecordIndex3)
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Units</label>
                    @Html.TextBoxFor(m => m.UnitNumber3, new { @class = "form-control", maxlength = "2", style = "width:45px;", tabIndex = "36" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitStartTime3">Start</label>
                    @Html.TextBoxFor(m => m.UnitStartTime3, new { @class = "form-control", maxlength = "4", style = "width:60px;", tabIndex = "37" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitEndTime3">End</label>
                    @Html.TextBoxFor(m => m.UnitEndTime3, new { @class = "form-control", maxlength = "4", style = "width:60px;", tabIndex = "38" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitAmount3">Amt</label>
                    <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.UnitAmountDesc3)" class="paidAmountToolTip" style="display:none;">?</a>
                    @Html.TextBoxFor(m => m.UnitAmount3, new { @class = "form-control", maxlength = "7", style = "width:85px;" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Prem</label>
                    @Html.DropDownListFor(m => m.UnitPremiumCode3, ViewBag.LocationOfServiceList as SelectList, new { @class = "form-control", style = "width:60px;", tabIndex = "39" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Prem $</label>
                    <input id="UnitPremiumFeeCode3" maxlength="8" style="width:85px;" class="form-control" onfocus="this.blur();" />
                </div>
                <div class="form-group pad_inline diagcodediv">
                    <span style="padding-left:3px;font-weight:100;">
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" class="diagCodeLabel" title="No description available.">Diag</a><span style='color:red'>*</span>
                    </span>
                    @Html.TextBoxFor(m => m.DiagCode3, new { @class = "form-control diagcodeauto3", maxlength = "20", style = "width:55px;", tabIndex = "40" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Type</label>
                    @Html.DropDownListFor(m => m.RecordClaimType3, ViewBag.RecordClaimTypeList as SelectList, new { @class = "form-control", style = "width:100px;", tabIndex = "41" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Spec Cir</label>
                    @Html.DropDownListFor(m => m.SpecialCircumstanceIndicator3, ViewBag.SpecialCircumstancesIndicatorList as SelectList, new { @class = "form-control", style = "width:100px;", tabIndex = "42" })
                </div>

            </div>
        </div>
        @*<div class="form-group">
                <label class="col-sm-3 control-label">
                </label>
                <div class="form-inline" style="width:1200px">
                    
                    <div class="form-group pad_inline">
                        <label class="control-label">B/L 3</label>
                        @Html.DropDownListFor(m => m.BilateralIndicator3, ViewBag.BilateralIndicatorList as SelectList, new { @class = "form-control", style = "width:80px;", tabIndex = "43" })
                    </div>
                </div>
            </div>*@
        <div class="form-group">
            <label class="col-sm-3 control-label">
                @if (!string.IsNullOrEmpty(Model.RunCode4))
                {
                    <span style="color:brown;">
                        RC: @(Model.RunCode4)
                        @if (!string.IsNullOrEmpty(Model.OriginalRunCode4))
                        {
                            @("(" + Model.OriginalRunCode4 + ")")
                        }
                    </span>
                    @Html.HiddenFor(x => x.RunCode4)
                    @Html.HiddenFor(x => x.OriginalRunCode4)
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode4))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode4)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc4)" class="explainCode">@(Model.ExplainCode4)</a>
                    </span>
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode4b))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode4b)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc4b)" class="explainCode">@(Model.ExplainCode4b)</a>
                    </span>
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode4c))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode4c)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc4c)" class="explainCode">@(Model.ExplainCode4c)</a>
                    </span>
                }

                <span>Unit 4</span>
            </label>
            <div class="form-inline" style="width:1500px">
                <div class="form-group pad_first_inline">
                    <span style="padding-left:3px;font-weight:100;">
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" class="feeCodeLabel">Code</a>
                    </span>
                    @Html.TextBoxFor(m => m.UnitCode4, new { @class = "form-control", maxlength = "20", style = "width:60px;", tabIndex = "44" })
                    @Html.HiddenFor(m => m.UnitCodeAmount4)
                    @Html.HiddenFor(m => m.UnitSubmittedRecordIndex4)
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Units</label>
                    @Html.TextBoxFor(m => m.UnitNumber4, new { @class = "form-control", maxlength = "2", style = "width:45px;", tabIndex = "45" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitStartTime4">Start</label>
                    @Html.TextBoxFor(m => m.UnitStartTime4, new { @class = "form-control", maxlength = "4", style = "width:60px;", tabIndex = "46" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitEndTime4">End</label>
                    @Html.TextBoxFor(m => m.UnitEndTime4, new { @class = "form-control", maxlength = "4", style = "width:60px;", tabIndex = "47" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitAmount4">Amt</label>
                    <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.UnitAmountDesc4)" class="paidAmountToolTip" style="display:none;">?</a>
                    @Html.TextBoxFor(m => m.UnitAmount4, new { @class = "form-control", maxlength = "7", style = "width:85px;" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Prem</label>
                    @Html.DropDownListFor(m => m.UnitPremiumCode4, ViewBag.LocationOfServiceList as SelectList, new { @class = "form-control", style = "width:60px;", tabIndex = "48" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Prem $</label>
                    <input id="UnitPremiumFeeCode4" maxlength="8" style="width:85px;" class="form-control" onfocus="this.blur();" />
                </div>
                <div class="form-group pad_inline diagcodediv">
                    <span style="padding-left:3px;font-weight:100;">
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" class="diagCodeLabel" title="No description available.">Diag</a><span style='color:red'>*</span>
                    </span>
                    @Html.TextBoxFor(m => m.DiagCode4, new { @class = "form-control diagcodeauto4", maxlength = "20", style = "width:55px;", tabIndex = "49" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Type</label>
                    @Html.DropDownListFor(m => m.RecordClaimType4, ViewBag.RecordClaimTypeList as SelectList, new { @class = "form-control", style = "width:100px;", tabIndex = "50" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Spec Cir</label>
                    @Html.DropDownListFor(m => m.SpecialCircumstanceIndicator4, ViewBag.SpecialCircumstancesIndicatorList as SelectList, new { @class = "form-control", style = "width:100px;", tabIndex = "51" })
                </div>
            </div>
        </div>
        @*<div class="form-group">
                <label class="col-sm-3 control-label">
                </label>
                <div class="form-inline" style="width:1200px">
                    
                    
                    <div class="form-group pad_inline">
                        <label class="control-label">B/L 4</label>
                        @Html.DropDownListFor(m => m.BilateralIndicator4, ViewBag.BilateralIndicatorList as SelectList, new { @class = "form-control", style = "width:80px;", tabIndex = "52" })
                    </div>

                </div>
            </div>*@
        <div class="form-group">
            <label class="col-sm-3 control-label">
                @if (!string.IsNullOrEmpty(Model.RunCode5))
                {
                    <span style="color:brown;">
                        RC: @(Model.RunCode5)
                        @if (!string.IsNullOrEmpty(Model.OriginalRunCode5))
                        {
                            @("(" + Model.OriginalRunCode5 + ")")
                        }
                    </span>
                    @Html.HiddenFor(x => x.RunCode5)
                    @Html.HiddenFor(x => x.OriginalRunCode5)
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode5))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode5)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc5)" class="explainCode">@(Model.ExplainCode5)</a>
                    </span>
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode5b))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode5b)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc5b)" class="explainCode">@(Model.ExplainCode5b)</a>
                    </span>
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode5c))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode5c)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc5c)" class="explainCode">@(Model.ExplainCode5c)</a>
                    </span>
                }

                <span>Unit 5</span>
            </label>
            <div class="form-inline" style="width:1500px">
                <div class="form-group pad_first_inline">
                    <span style="padding-left:3px;font-weight:100;">
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" class="feeCodeLabel">Code</a>
                    </span>
                    @Html.TextBoxFor(m => m.UnitCode5, new { @class = "form-control", maxlength = "20", style = "width:60px;", tabIndex = "53" })
                    @Html.HiddenFor(m => m.UnitCodeAmount5)
                    @Html.HiddenFor(m => m.UnitSubmittedRecordIndex5)
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Units</label>
                    @Html.TextBoxFor(m => m.UnitNumber5, new { @class = "form-control", maxlength = "2", style = "width:45px;", tabIndex = "54" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitStartTime5">Start</label>
                    @Html.TextBoxFor(m => m.UnitStartTime5, new { @class = "form-control", maxlength = "4", style = "width:60px;", tabIndex = "55" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitEndTime5">End</label>
                    @Html.TextBoxFor(m => m.UnitEndTime5, new { @class = "form-control", maxlength = "4", style = "width:60px;", tabIndex = "56" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitAmount5">Amt</label>
                    <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.UnitAmountDesc5)" class="paidAmountToolTip" style="display:none;">?</a>
                    @Html.TextBoxFor(m => m.UnitAmount5, new { @class = "form-control", maxlength = "7", style = "width:85px;" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Prem</label>
                    @Html.DropDownListFor(m => m.UnitPremiumCode5, ViewBag.LocationOfServiceList as SelectList, new { @class = "form-control", style = "width:60px;", tabIndex = "57" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Prem $</label>
                    <input id="UnitPremiumFeeCode5" maxlength="8" style="width:85px;" class="form-control" onfocus="this.blur();" />
                </div>
                <div class="form-group pad_inline diagcodediv">
                    <span style="padding-left:3px;font-weight:100;">
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" class="diagCodeLabel" title="No description available.">Diag</a><span style='color:red'>*</span>
                    </span>
                    @Html.TextBoxFor(m => m.DiagCode5, new { @class = "form-control diagcodeauto5", maxlength = "20", style = "width:55px;", tabIndex = "58" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Type</label>
                    @Html.DropDownListFor(m => m.RecordClaimType5, ViewBag.RecordClaimTypeList as SelectList, new { @class = "form-control", style = "width:100px;", tabIndex = "59" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Spec Cir</label>
                    @Html.DropDownListFor(m => m.SpecialCircumstanceIndicator5, ViewBag.SpecialCircumstancesIndicatorList as SelectList, new { @class = "form-control", style = "width:100px;", tabIndex = "60" })
                </div>
            </div>
        </div>
        @*<div class="form-group">
                <label class="col-sm-3 control-label">
                </label>
                <div class="form-inline" style="width:1200px">
                    
                    
                    <div class="form-group pad_inline">
                        <label class="control-label">B/L 5</label>
                        @Html.DropDownListFor(m => m.BilateralIndicator5, ViewBag.BilateralIndicatorList as SelectList, new { @class = "form-control", style = "width:80px;", tabIndex = "61" })
                    </div>
                </div>
            </div>*@
        <div class="form-group">
            <label class="col-sm-3 control-label">
                @if (!string.IsNullOrEmpty(Model.RunCode6))
                {
                    <span style="color:brown;">
                        RC: @(Model.RunCode6)
                        @if (!string.IsNullOrEmpty(Model.OriginalRunCode6))
                        {
                            @("(" + Model.OriginalRunCode6 + ")")
                        }
                    </span>
                    @Html.HiddenFor(x => x.RunCode6)
                    @Html.HiddenFor(x => x.OriginalRunCode6)
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode6))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode6)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc6)" class="explainCode">@(Model.ExplainCode6)</a>
                    </span>
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode6b))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode6b)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc6b)" class="explainCode">@(Model.ExplainCode6b)</a>
                    </span>
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode6c))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode6c)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc6c)" class="explainCode">@(Model.ExplainCode6c)</a>
                    </span>
                }

                <span>Unit 6</span>
            </label>
            <div class="form-inline" style="width:1500px">
                <div class="form-group pad_first_inline">
                    <span style="padding-left:3px;font-weight:100;">
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" class="feeCodeLabel">Code</a>
                    </span>
                    @Html.TextBoxFor(m => m.UnitCode6, new { @class = "form-control", maxlength = "20", style = "width:60px;", tabIndex = "61" })
                    @Html.HiddenFor(m => m.UnitCodeAmount6)
                    @Html.HiddenFor(m => m.UnitSubmittedRecordIndex6)
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Units</label>
                    @Html.TextBoxFor(m => m.UnitNumber6, new { @class = "form-control", maxlength = "2", style = "width:45px;", tabIndex = "62" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitStartTime6">Start</label>
                    @Html.TextBoxFor(m => m.UnitStartTime6, new { @class = "form-control", maxlength = "4", style = "width:60px;", tabIndex = "63" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitEndTime6">End</label>
                    @Html.TextBoxFor(m => m.UnitEndTime6, new { @class = "form-control", maxlength = "4", style = "width:60px;", tabIndex = "64" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitAmount6">Amt</label>
                    <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.UnitAmountDesc6)" class="paidAmountToolTip" style="display:none;">?</a>
                    @Html.TextBoxFor(m => m.UnitAmount6, new { @class = "form-control", maxlength = "7", style = "width:85px;" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Prem</label>
                    @Html.DropDownListFor(m => m.UnitPremiumCode6, ViewBag.LocationOfServiceList as SelectList, new { @class = "form-control", style = "width:60px;", tabIndex = "65" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Prem $</label>
                    <input id="UnitPremiumFeeCode6" maxlength="8" style="width:85px;" class="form-control" onfocus="this.blur();" />
                </div>
                <div class="form-group pad_inline diagcodediv">
                    <span style="padding-left:3px;font-weight:100;">
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" class="diagCodeLabel" title="No description available.">Diag</a><span style='color:red'>*</span>
                    </span>
                    @Html.TextBoxFor(m => m.DiagCode6, new { @class = "form-control diagcodeauto6", maxlength = "20", style = "width:55px;", tabIndex = "66" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Type</label>
                    @Html.DropDownListFor(m => m.RecordClaimType6, ViewBag.RecordClaimTypeList as SelectList, new { @class = "form-control", style = "width:100px;", tabIndex = "67" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Spec Cir</label>
                    @Html.DropDownListFor(m => m.SpecialCircumstanceIndicator6, ViewBag.SpecialCircumstancesIndicatorList as SelectList, new { @class = "form-control", style = "width:100px;", tabIndex = "68" })
                </div>
            </div>
        </div>
        @*<div class="form-group">
                <label class="col-sm-3 control-label">
                </label>
                <div class="form-inline" style="width:1200px">
                    
                    
                    <div class="form-group pad_inline">
                        <label class="control-label">B/L 6</label>
                        @Html.DropDownListFor(m => m.BilateralIndicator6, ViewBag.BilateralIndicatorList as SelectList, new { @class = "form-control", style = "width:80px;", tabIndex = "69" })
                    </div>
                </div>
            </div>*@
        <div class="form-group">
            <label class="col-sm-3 control-label">
                @if (!string.IsNullOrEmpty(Model.RunCode7))
                {
                    <span style="color:brown;">
                        RC: @(Model.RunCode7)
                        @if (!string.IsNullOrEmpty(Model.OriginalRunCode7))
                        {
                            @("(" + Model.OriginalRunCode7 + ")")
                        }
                    </span>
                    @Html.HiddenFor(x => x.RunCode7)
                    @Html.HiddenFor(x => x.OriginalRunCode7)
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode7))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode7)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc7)" class="explainCode">@(Model.ExplainCode7)</a>
                    </span>
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode7b))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode7b)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc7b)" class="explainCode">@(Model.ExplainCode7b)</a>
                    </span>
                }

                @if (!string.IsNullOrEmpty(Model.ExplainCode7c))
                {
                    <span style="padding-left:3px;font-weight:100;">
                        @Html.HiddenFor(x => x.ExplainCode7c)
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.ExplainCodeDesc7c)" class="explainCode">@(Model.ExplainCode7c)</a>
                    </span>
                }

                <span>Unit 7</span>
            </label>
            <div class="form-inline" style="width:1500px">
                <div class="form-group pad_first_inline">
                    <span style="padding-left:3px;font-weight:100;">
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" class="feeCodeLabel">Code</a>
                    </span>
                    @Html.TextBoxFor(m => m.UnitCode7, new { @class = "form-control", maxlength = "20", style = "width:60px;", tabIndex = "70" })
                    @Html.HiddenFor(m => m.UnitCodeAmount7)
                    @Html.HiddenFor(m => m.UnitSubmittedRecordIndex7)
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Units</label>
                    @Html.TextBoxFor(m => m.UnitNumber7, new { @class = "form-control", maxlength = "2", style = "width:45px;", tabIndex = "71" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitStartTime7">Start</label>
                    @Html.TextBoxFor(m => m.UnitStartTime7, new { @class = "form-control", maxlength = "4", style = "width:60px;", tabIndex = "72" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitEndTime7">End</label>
                    @Html.TextBoxFor(m => m.UnitEndTime7, new { @class = "form-control", maxlength = "4", style = "width:60px;", tabIndex = "73" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label" for="UnitAmount7">Amt</label>
                    <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" title="@(Model.UnitAmountDesc7)" class="paidAmountToolTip" style="display:none;">?</a>
                    @Html.TextBoxFor(m => m.UnitAmount7, new { @class = "form-control", maxlength = "7", style = "width:85px;" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Prem</label>
                    @Html.DropDownListFor(m => m.UnitPremiumCode7, ViewBag.LocationOfServiceList as SelectList, new { @class = "form-control", style = "width:60px;", tabIndex = "74" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Prem $</label>
                    <input id="UnitPremiumFeeCode7" maxlength="8" style="width:85px;" class="form-control" onfocus="this.blur();" />
                </div>
                <div class="form-group pad_inline diagcodediv">
                    <span style="padding-left:3px;font-weight:100;">
                        <a href="javascript:void();" onclick="return false;" data-toggle="tooltip" class="diagCodeLabel" title="No description available.">Diag</a><span style='color:red'>*</span>
                    </span>
                    @Html.TextBoxFor(m => m.DiagCode7, new { @class = "form-control diagcodeauto7", maxlength = "20", style = "width:55px;", tabIndex = "75" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Type</label>
                    @Html.DropDownListFor(m => m.RecordClaimType7, ViewBag.RecordClaimTypeList as SelectList, new { @class = "form-control", style = "width:100px;", tabIndex = "76" })
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Spec Cir</label>
                    @Html.DropDownListFor(m => m.SpecialCircumstanceIndicator7, ViewBag.SpecialCircumstancesIndicatorList as SelectList, new { @class = "form-control", style = "width:100px;", tabIndex = "77" })
                </div>
            </div>
        </div>
        @*<div class="form-group">
                <label class="col-sm-3 control-label">
                </label>
                <div class="form-inline" style="width:1200px">
                    
                    
                    <div class="form-group pad_inline">
                        <label class="control-label">B/L 7</label>
                        @Html.DropDownListFor(m => m.BilateralIndicator7, ViewBag.BilateralIndicatorList as SelectList, new { @class = "form-control", style = "width:80px;", tabIndex = "78" })
                    </div>

                </div>
            </div>*@

        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="form-inline" style="width:1500px">
                <div class="form-group pad_first_inline">
                    <label class="control-label" style="width:190px;"></label>
                </div>
                <div class="form-group pad_inline">
                </div>
                <div class="form-group pad_inline">
                    <label class="control-label">Total Amount</label>
                    <input type="text" class="form-control" id="TotalAmount" onfocus="this.blur();" value="" style="width:100px;" />
                    @Html.HiddenFor(m => m.Record.ClaimAmount)
                </div>
                <div class="form-group pad_inline">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="CommentLabel">Comment</label>
            <div class="form-inline" style="width:1500px">
                @Html.TextAreaFor(m => m.Record.Comment, new { rows = "8", cols = "130", tabIndex = "79" })
                <label class="control-label pad_first_inline">Count</label>
                <input type="text" id="wordCounter" class="form-control" style="width:70px;" onfocus="this.blur();" value="770" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="NotesLabel">Personal Notes</label>
            <div class="form-inline" style="width:1500px">
                @Html.TextAreaFor(m => m.Record.Notes, new { rows = "8", cols = "130", tabIndex = "79" })
                <label class="control-label pad_first_inline">Count</label>
                <input type="text" id="wordCounterNotes" class="form-control" style="width:70px;" onfocus="this.blur();" value="1000" />
            </div>
        </div>

        @if ((Model.Record.RejectedClaimId.HasValue || Model.Record.PaidClaimId.HasValue) && !string.IsNullOrEmpty(Model.Record.MessageFromICS))
        {
            <div class="form-group">
                <label class="col-sm-3 control-label">Message From ICS/System</label>
                <div class="form-inline" style="width:1200px">
                    @Html.TextArea("icsmessage", Model.Record.MessageFromICS, new { disabled = "disabled", rows = "8", cols = "90" })
                    @Html.HiddenFor(m => m.Record.MessageFromICS)
                </div>
            </div>
        }

    </div>
</div>

    @Html.HiddenFor(m => m.ButtonUsedToSubmit)
    @Html.HiddenFor(m => m.LastSelectedDiagCode)
    @Html.HiddenFor(m => m.MostUsedCodes)
    @Html.HiddenFor(m => m.PremiumCode)

    <script type="text/javascript">

        $(function () {

            $("#Record_HospitalNumber").focus();

            var isReadOnly = '@(ViewBag.IsAdmin || Model.Record.ClaimStatus == (int)SearchClaimType.Submitted || Model.Record.ClaimStatus == (int)SearchClaimType.Pending || Model.Record.ClaimStatus == (int)SearchClaimType.Paid)' == 'True' ? true : false;
            var codeList = JSON.parse('@Html.Raw(Json.Encode(Model.PremiumCodeList))');
            var careCodeList = JSON.parse('@Html.Raw(Json.Encode(Model.HospitalCareServiceCodeList))');
            var rnpExcludeCodeList = JSON.parse('@Html.Raw(Json.Encode(Model.RNPExcludeCodeList))');
            var versionNumber = '@MBS.DataCache.StaticCodeList.VersionNumber';

            ServiceRecordActionPageLoad(isReadOnly, codeList, careCodeList, rnpExcludeCodeList, versionNumber);
        });

        function SetButtonUsedToSubmit(value) {
            $("#ButtonUsedToSubmit").val(value);
        }
    </script>
