<pages enableViewState="false" buffer="true"></pages>

@Scripts.Render("~/Scripts/SearchClaimBetaIndex.js?v=" + MBS.DataCache.StaticCodeList.VersionNumber)
@Scripts.Render("~/Scripts/jquery.ui-contextmenu.min.js")

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Search Claims</h3>
    </div>
    <div class="panel-body">
        <div style="padding-bottom:10px;" class="form-inline">
            <div class="form-group">
                <label for="SearchClaimNumber">Perspect #</label>
                <input class="form-control" id="SearchClaimNumber" maxlength="5" name="SearchClaimNumber" style="width:70px;" type="text" value="">
            </div>
            <div class="form-group" style="padding-left:5px;">
                <label for="SearchCPSClaimNumber">CPS #</label>
                <input class="form-control" id="SearchCPSClaimNumber" maxlength="10" name="SearchCPSClaimNumber" style="width:110px;" type="text" value="">
            </div>
            <div class="form-group" style="padding-left:5px;">
                <label for="SearchLastName">Last Name</label>
                <input class="form-control" id="SearchLastName" maxlength="200" name="SearchLastName" style="width:200px;" type="text" value="">
            </div>
            <div class="form-group" style="padding-left:5px;">
                <label for="SearchFirstName">First Name</label>
                <input class="form-control" id="SearchFirstName" maxlength="200" name="SearchFirstName" style="width:200px;" type="text" value="">
            </div>
            <div class="form-group" style="padding-left:5px;">
                <label for="SearchHSN">Hospital #</label>
                <input class="form-control" id="SearchHSN" maxlength="15" name="SearchHSN" style="width:150px;" type="text" value="@ViewBag.HSN">
            </div>            
            <br />        
            <div class="form-group" style="padding-top:10px;">
                <label for="SearchUnitCode">Code</label>
                <input class="form-control" id="SearchUnitCode" maxlength="4" name="SearchUnitCode" style="width:70px;" type="text" value="">
            </div>
            <div class="form-group" style="padding-left:5px; padding-top:10px;">
                <label for="SearchDiagCode">Diag Code</label>
                <input class="form-control" id="SearchDiagCode" maxlength="3" name="SearchDiagCode" style="width:60px;" type="text" value="">
            </div>
            <div class="form-group" style="padding-left:5px; padding-top:10px;">
                <label for="SearchExplainCode">Explain Code</label>
                <input class="form-control" id="SearchExplainCode" maxlength="2" name="SearchExplainCode" style="width:50px;" type="text" value="">
            </div>
            <div class="form-group" style="padding-left:5px;padding-top:10px;">
                <label for="ReportType" style="padding-right: 10px;">Status</label>
                <a href="javascript:void();" id="CheckAll" class="control-label" onclick="CheckAllClaims(); return false;" style="padding-right:10px;">All</a>

                <input class="form-check-input searchclaimtype" type="checkbox" id="SearchUnsubmitted" checked="checked">
                <label class="form-check-label" for="SearchUnsubmitted" style="padding-right:15px;font-weight:100;">Unsubmitted</label>

                <input class="form-check-input searchclaimtype" type="checkbox" id="SearchSubmitted" checked="checked">
                <label class="form-check-label" for="SearchSubmitted" style="padding-right:15px;font-weight:100;">Submitted</label>

                <input class="form-check-input searchclaimtype" type="checkbox" id="SearchPending" checked="checked">
                <label class="form-check-label" for="SearchPending" style="padding-right:15px;font-weight:100;">Pending</label>

                <input class="form-check-input searchclaimtype" type="checkbox" id="SearchPaid" checked="checked">
                <label class="form-check-label" for="SearchPaid" style="padding-right:15px;font-weight:100;">Paid</label>

                <input class="form-check-input searchclaimtype" type="checkbox" id="SearchRejected" checked="checked">
                <label class="form-check-label" for="SearchRejected" style="padding-right:15px;font-weight:100;">Rejected</label>

                <input class="form-check-input searchclaimtype" type="checkbox" id="SearchDeleted">
                <label class="form-check-label" for="SearchDeleted" style="padding-right:15px;font-weight:100;">Deleted</label>
            </div>
            @if (ViewBag.IsAdmin)
            {
                <div class="form-group" style="padding-left:5px; padding-top:10px;">
                    <label for="SearchFirstName">Clinic Name</label>
                    <input class="form-control" id="SearchClinicName" maxlength="200" name="SearchClinicName" style="width:200px;" type="text" value="">
                </div>
            }
            <br>
            <div class="form-group" style="padding-top:10px;">
                <label for="ServiceStartDate">Service Start Date (dd/mm/yyyy)</label>
                <input class="form-control" id="SearchServiceStartDateString" maxlength="10" name="SearchServiceStartDateString" style="width:100px;" type="text" value="">
            </div>
            <div class="form-group" style="padding-left:5px;padding-top:10px;">
                <label for="ServiceEndDate">Service End Date (dd/mm/yyyy)</label>
                <input class="form-control" id="SearchServiceEndDateString" maxlength="10" name="SearchServiceEndDateString" style="width:100px;" type="text" value="">
            </div>
            <div class="form-group" style="padding-left:5px;padding-top:10px;">
                <label for="SubmissionStartDate">Submission Start Date (dd/mm/yyyy)</label>
                <input class="form-control" id="SearchSubmissionStartDateString" maxlength="10" name="SearchSubmissionStartDateString" style="width:100px;" type="text" value="">
            </div>
            <div class="form-group" style="padding-left:5px;padding-top:10px;">
                <label for="SubmissionEndDate">Submission End Date (dd/mm/yyyy)</label>
                <input class="form-control" id="SearchSubmissionEndDateString" maxlength="10" name="SearchSubmissionEndDateString" style="width:100px;" type="text" value="">
            </div>
        </div>

        <div style="padding-bottom:40px;">
            <div class="pull-left">
                <button class="btn btn-sm control_buttons" onclick="GenerateServiceReportDate('7day'); return false;">
                    <img src="@Url.Content("~/Content/images/icon_report.png")" title="Last 7 Days" />
                    <span>Last 7 Days</span>
                </button>
                <button class="btn btn-sm control_buttons" onclick="GenerateServiceReportDate('1month'); return false;">
                    <img src="@Url.Content("~/Content/images/icon_report.png")" title="Last Month" />
                    <span>Last Month</span>
                </button>
                <button class="btn btn-sm control_buttons" onclick="GenerateServiceReportDate('3month'); return false;">
                    <img src="@Url.Content("~/Content/images/icon_report.png")" title="Last 3 Months" />
                    <span>Last 3 Months</span>
                </button>
                <button class="btn btn-sm control_buttons" onclick="GenerateServiceReportDate('12month'); return false;">
                    <img src="@Url.Content("~/Content/images/icon_report.png")" title="Last 12 Months" />
                    <span>Last 12 Months</span>
                </button>
                <button class="btn btn-sm control_buttons" onclick="GenerateServiceReportDate('previousyear'); return false;">
                    <img src="@Url.Content("~/Content/images/icon_report.png")" title="Previous Year" />
                    <span>Previous Year</span>
                </button>
                <button class="btn btn-sm control_buttons" onclick="GenerateServiceReportDate('yeartodate'); return false;">
                    <img src="@Url.Content("~/Content/images/icon_report.png")" title="Year To Date" />
                    <span>Year To Date</span>
                </button>               
            </div> 
            <div class="pull-right">
                <div class="pull-right">
                    <button class="btn btn-sm control_buttons" onclick="GenerateSubmissionReportDate('over4weeks'); return false;">
                        <img src="@Url.Content("~/Content/images/icon_report.png")" title="Over 4 weeks" />
                        <span>Over 4 Weeks</span>
                    </button>
                    <button class="btn btn-sm control_buttons" onclick="GenerateSubmissionReportDate('over8weeks'); return false;">
                        <img src="@Url.Content("~/Content/images/icon_report.png")" title="Over 8 weeks" />
                        <span>Over 8 Weeks</span>
                    </button>
                    <button class="btn btn-sm control_buttons" onclick="GenerateSubmissionReportDate('over12weeks'); return false;">
                        <img src="@Url.Content("~/Content/images/icon_report.png")" title="Over 12 weeks" />
                        <span>Over 12 Weeks</span>
                    </button>
                </div>       
            </div>                       
        </div>
        <div style="padding-bottom:50px;">
            <div class="pull-left">
                <button class="btn btn-sm control_buttons" onclick="batchResubmission();" style="padding-left: 5px;">
                    <img src="@Url.Content("~/Content/images/icon_arrange.png")" title="Batch Resubmission" />
                    <span>Batch Resubmission</span>
                </button>
                <button class="btn btn-sm control_buttons" onclick="batchIgnore();" style="padding-left: 5px;">
                    <img src="@Url.Content("~/Content/images/icon_delete.png")" title="Batch Delete" />
                    <span>Batch Delete</span>
                </button>
            </div>
            <div class="pull-right">
                <button class="btn btn-sm control_buttons" onclick="PerformSearch(); return false;" style="padding-left: 5px;">
                    <img src="@Url.Content("~/Content/images/icon_arrange.png")" title="Search" />
                    <span>Search</span>
                </button>
                <button class="btn btn-sm control_buttons" onclick="ClearSearch(); return false;">
                    <img src="@Url.Content("~/Content/images/icon_cancel.png")" title="Clear" />
                    <span>Clear</span>
                </button>
            </div>
        </div>
        <table id="searchClaims" class="table table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" name="all"></th>
                    @if (ViewBag.IsAdmin)
                    {
                        <th class="col-sm-1">User Name</th>
                    }
                    <th class="col-sm-1">Service Date</th>
                    <th class="col-sm-1">Submission Date</th>
                    <th class="col-sm-1">Run Code</th>
                    <th class="col-sm-1">Last Name</th>
                    <th class="col-sm-1">First Name</th>
                    <th class="col-sm-1">HSN</th>
                    <th class="col-sm-1">Code</th>
                    <th class="col-sm-1">Units</th>
                    <th class="col-sm-1">Diag Code</th>
                    <th class="col-sm-1">Perspect #</th>
                    <th class="col-sm-1">CPS #</th>
                    <th class="col-sm-1">Exp #1</th>
                    <th class="col-sm-1">Exp #2</th>
                    <th class="col-sm-1">Exp #3</th>
                    <th class="col-sm-1">Billed</th>
                    <th class="col-sm-1">Paid</th>
                    <th class="col-sm-1">Balance</th>
                    <th class="col-sm-1">Status</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("input:checkbox[name=batch]").prop("checked", false);

        var isAdmin = '@ViewBag.IsAdmin';
        SearchClaimPageLoad('@Url.Content("~/Content/images/icon_edit.png")', isAdmin == "True" ? true : false, '@ViewBag.ShowClaimsType');

        $("input:checkbox[name=all]").change(function () {
            if (this.checked) {
                $("input:checkbox[name=batch]").prop("checked", true);
            } else {
                $("input:checkbox[name=batch]").prop("checked", false);
            }
        });
    });

</script>


