<pages enableViewState="false" buffer="true"></pages>

@model MBS.Web.Portal.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change Password";
}

<style>
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    .tooltip-inner {
        text-align:left;
    }

    div[class="tooltip-inner"] {
        max-width: 350px;
    }

    .form-horizontal .form-group {
        margin-right: -40px;
    }
</style>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body">
        <button class="btn btn-sm control_buttons" onclick="window.location.href='@Url.Action("Manage", "Account")';">
            <img src="@Url.Content("~/Content/images/icon_back.png")" title="Back to Manage Account" />
            <span>Back to Manage Account</span>
        </button>

        @if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
        {
            <div style="height:20px;"></div>
            <div class="alert alert-info">@ViewBag.StatusMessage</div>
        }

        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="form-group">
                <label for="OldPassword" class="col-sm-3 control-label">Current Password</label>
                <a href="javascript:void(); " class="pull-left control-label" style="padding-right:10px;">&nbsp;</a>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", style="width:200px;", tabindex="1" })
            </div>
            
            <div class="form-group">  
                <label for="NewPassword" class="col-sm-3 control-label">New Password</label>
                <a href="javascript:void();" id="PasswordRequirement" class="pull-left control-label" onclick="return false;" style="padding-right:5px;" data-toggle="tooltip" 
                title="<ul><li>Must be at least 7 characters</li><li>Must have at least 1 digit</li><li>Must have at least 1 special (non-alphanumeric) character</li></ul>">?</a>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", style="width:200px;", tabindex="2" })  
            </div>
            
            <div class="form-group">
                <label for="ConfirmPassword" class="col-sm-3 control-label">Confirm New Password</label>
                <a href="javascript:void(); " class="pull-left control-label" style="padding-right:10px;">&nbsp;</a>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", style="width:200px;", tabindex="3" })
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button class="btn btn-default" type="submit" tabindex="4">Update</button>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">       
    $(function () {        
        ChangePasswordPageLoad();
    });
</script>