<pages enableViewState="false" buffer="true"></pages>

@model MBS.Web.Portal.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body">
        <button class="btn btn-sm control_buttons" onclick="window.location.href='@Url.Action("Login", "Account")';">
            <img src="@Url.Content("~/Content/images/icon_back.png")" title="Back to Login" />
            <span>Back to Login</span>
        </button>
        <p style="padding-top:10px;">Enter your username and email address stored in our system, then a link will be email to you to reset the password.</p>       
        
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.ErrorCount)
            @Html.Hidden("hidden_error_count", (object)ViewBag.ErrorCount)

            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-sm-2 control-label" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", style="width:200px;" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", style="width:400px;" })
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2">
                    <button class="btn btn-default" type="submit">Submit</button>
                </div>
            </div>
        }

        <p style="padding-top:10px;">**If you need help, please email <a href="mailto:info@perspect.ca">info@perspect.ca</a>!</p>

    </div>
</div>

<script type="text/javascript">

    $(function () {
        $("#ErrorCount").val($("#hidden_error_count").val());
    });
</script>