<pages enableViewState="false" buffer="true"></pages>

@model MBS.Web.Portal.Models.LoginModel

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <p><div class="col-sm-1"></div>Please enter your username and password below</p>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-3">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })                       
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default" type="submit" onclick="WakeUp();">Submit</button>     
                </div>
            </div> 
            @*<div class="form-group">
                <div class="col-sm-12">
                    <small>Forgot your password? Click @Html.ActionLink("here", "ForgotPassword", "Account") to reset your password.</small>
                </div>
            </div>*@      
        }
    </div>
</div>

<script type="text/javascript">

    function WakeUp() {
        try
        {
            $.ajax({
                async: true,
                type: "GET",
                url: _applicationBaseUrl + '/Account/WakeUp',
                success: function (response) {                
                },
                error: function (msg) {                
                }
            });
        }
        catch (e)
        {
        }
    }
</script>