<pages enableViewState="false" buffer="true"></pages>

@model MBS.Web.Portal.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body">
        
        <h3>Please select your actions below:</h3>
        <div class="pull-left">
            <button class="btn btn-sm control_buttons" onclick="window.location.href='@Url.Action("ChangeEmail", "Account")';">
                <img src="@Url.Content("~/Content/images/icon_mail.png")" title="Change Email" />
                <span>Change Email</span>
            </button>
            <button class="btn btn-sm control_buttons" onclick="window.location.href='@Url.Action("ChangePassword", "Account")';">
                <img src="@Url.Content("~/Content/images/icon_lock.png")" title="Change Password" />
                <span>Change Password</span>
            </button>
            <button class="btn btn-sm control_buttons" onclick="window.location.href='@Url.Action("UserProfile", "Account")';">
                <img src="@Url.Content("~/Content/images/icon_edit.png")" title="Change Profile" />
                <span>Change Profile</span>
            </button>           
        </div>        
    </div>
</div>