<pages enableViewState="false" buffer="true"></pages>

@model MBS.Web.Portal.Models.ResetForgotPasswordModel
@{
    ViewBag.Title = "Reset Forgot Password";
}

<style>
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    .tooltip-inner {
        text-align:left;
    }

    div[class="tooltip-inner"] {
        max-width: 350px;
    }

    .form-horizontal .form-group {
        margin-right: -40px;
    }
</style>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body">

        @if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
        {
            <div style="height:20px;"></div>
            <div class="alert alert-danger">The link seem to be invalid or expired! Please try the Forgot Your Password again and get a new link or email <a href="mailto:info@perspect.ca">info@perspect.ca</a> to get help!</div>
        }
        else        
        {
            using (Html.BeginForm("ResetForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(m => m.ResetForgotPasswordToken)

                <div class="form-group">  
                    <label for="NewPassword" class="col-sm-3 control-label">New Password</label>
                    <a href="javascript:void();" id="PasswordRequirement" class="pull-left control-label" onclick="return false;" style="padding-right:5px;" data-toggle="tooltip" 
                    title="<ul><li>Must be at least 7 characters</li><li>Must have 1 digit</li><li>Must have 1 special character (!.@("@")#$%^&+=)</li></ul>">?</a>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", style = "width:200px;", tabindex = "2" })  
                </div>

                <div class="form-group">
                    <label for="ConfirmPassword" class="col-sm-3 control-label">Confirm New Password</label>
                    <a href="javascript:void(); " class="pull-left control-label" style="padding-right:10px;">&nbsp;</a>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", style = "width:200px;", tabindex = "3" })
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button class="btn btn-default" type="submit" tabindex="4">Update</button>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script type="text/javascript">      
    function SetRequiredField(fieldName) {
        var label = $("label[for='" + fieldName + "']")
        label.append("<span style='color:red'> *</span>");
    }
    
    function ChangePasswordPageLoad() {
        SetRequiredField("NewPassword");
        SetRequiredField("OldPassword");
        SetRequiredField("ConfirmPassword");

        $("#PasswordRequirement").tooltip({ html: true, placement: 'left' });
    }

    $(function () {        
        ChangePasswordPageLoad();
    });
</script>