<pages enableViewState="false" buffer="true"></pages>

@model MBS.DomainModel.UserProfiles
@{
    ViewBag.Title = "User Profile";
}

<style>
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    .tooltip-inner {
        text-align: left;
    }

    div[class="tooltip-inner"] {
        max-width: 350px;
    }

    .form-horizontal .form-group {
        margin-right: -40px;
    }
</style>

@Scripts.Render("~/Scripts/UserProfileAction.js?v=1." + MBS.DataCache.StaticCodeList.VersionNumber)

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body">
        <button class="btn btn-sm control_buttons" onclick="window.location.href='@Url.Action("Manage", "Account")';">
            <img src="@Url.Content("~/Content/images/icon_back.png")" title="Back to Manage Account" />
            <span>Back to Manage Account</span>
        </button>
        @using (Html.BeginForm("UserProfile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.HiddenFor(m => m.UserId)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
    <div class="profile-section">
        <h4><strong>Profile Section</strong></h4>
        <div class="form-group">
            @Html.LabelFor(m => m.DoctorNumber, new { @class = "col-sm-2 control-label" })
            @Html.TextBoxFor(m => m.DoctorNumber, new { style = "width:70px", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DoctorName, new { @class = "col-sm-2 control-label" })
            @Html.TextBoxFor(m => m.DoctorName, new { @class = "form-control", style = "width:300px" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ClinicNumber, new { @class = "col-sm-2 control-label" })
            @Html.TextBoxFor(m => m.ClinicNumber, new { style = "width:55px", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.GroupNumber, new { @class = "col-sm-2 control-label" })
            @Html.TextBoxFor(m => m.GroupNumber, new { style = "width:55px", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.GroupUserKey, new { @class = "col-sm-2 control-label" })
            <span class="form-inline">
                @Html.TextBoxFor(m => m.GroupUserKey, new { style = "width:100px", @class = "form-control" })
                <a href="#" onclick="CheckConnection(); return false;">Check Connection</a>
                <img id="checkresult" src='@Url.Content("~/Content/images/icon_question.png")' style="width:15px;height:15px;">
            </span>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DiagnosticCode, new { @class = "col-sm-2 control-label" })
            @Html.TextBoxFor(m => m.DiagnosticCode, new { style = "width:55px", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DefaultServiceLocation, new { @class = "col-sm-2 control-label" })
            @Html.DropDownListFor(m => m.DefaultServiceLocation, ViewBag.ServiceLocationList as SelectList, new { @class = "form-control", style = "width:300px;" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DefaultPremCode, new { @class = "col-sm-2 control-label" })
            @Html.DropDownListFor(m => m.DefaultPremCode, ViewBag.LocationOfServiceList as SelectList, new { @class = "form-control", style = "width:60px;" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CorporationIndicator, new { @class = "col-sm-2 control-label" })
            @Html.DropDownListFor(m => m.CorporationIndicator, ViewBag.CorporationIndicatorList as SelectList,
                new { style = "width:260px", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-sm-2 control-label" })
            @Html.TextBoxFor(m => m.PhoneNumber, new { style = "width:200px", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ClaimMode, new { @class = "col-sm-2 control-label" })
            @Html.DropDownListFor(m => m.ClaimMode, ViewBag.ClaimModeList as SelectList,
                new { style = "width:260px", @class = "form-control" })
        </div>
    </div>
            <div id="profile-section">
                <h4><strong>Address Section (Use for WCB Claim)</strong></h4>
                <div class="form-group">
                    @Html.LabelFor(m => m.Street, new { @class = "col-sm-2 control-label" })
                    @Html.TextBoxFor(m => m.Street, new { @class = "form-control", style = "width:300px" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.City, new { @class = "col-sm-2 control-label" })
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", style = "width:200px" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Province, new { @class = "col-sm-2 control-label" })
                    @Html.DropDownListFor(m => m.Province, ViewBag.ProvinceList as SelectList,
                        new { style = "width:200px", @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PostalCode, new { @class = "col-sm-2 control-label" })
                    @Html.TextBoxFor(m => m.PostalCode, new { style = "width:110px", @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2">
                    <button class="btn btn-default" type="submit">Update</button>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(function () {
        UserProfilePageLoad('@Url.Content("~/Content/images/icon_okay.png")', '@Url.Content("~/Content/images/icon_cancel.png")');
    });
</script>