<pages enableViewState="false" buffer="true"></pages>

@model IEnumerable<MBS.Web.Portal.Models.SimpleClaimReturn>
@{
    ViewBag.Title = "View Return Files";
}

<style>
    .modal-xl {
        width: 90%;
        max-width: 1400px;
    }
</style>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body">	
        <table id="claiminreturn" class="table table-hover">
            <thead>
                <tr>
                    <th class="col-sm-2">Download Date</th>
                    <th class="col-sm-1">Run Code</th>
                    <th class="col-sm-1">Return File Type</th>
                    <th class="col-sm-2">Return File Name</th>
                    <th class="col-sm-1">Total Paid</th>
                    <th class="col-sm-3"></th>
                </tr>         
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var uploadDate = item.UploadDate.AddHours(ViewBag.TimeZoneOffset);
                    <tr onmouseover="$(this).find('.control_buttons').show()" onmouseout="$(this).find('.control_buttons').hide()">
                        <td>
                            @string.Format("{0}/{1}/{2} {3}", uploadDate.ToString("dd"), uploadDate.ToString("MM"), uploadDate.ToString("yyyy"), uploadDate.ToString(" HH:mm:ss"))
                        </td>
                        <td>
                            @(string.IsNullOrEmpty(item.RunCode) ? "" : item.RunCode.ToUpper())
                        </td>
                        <td>
                            @(item.ReturnFileType == 0 ? "Daily Return" : "BiWeekly Return")
                        </td>
                        <td id="returnFileName_@item.ClaimsInReturnId">
                            @item.ReturnFileName
                        </td>
                        <td>
                            @string.Format("{0:C}", item.TotalPaidAmount)
                        </td>
                        <td>
                            <div class="control_buttons clearfix" style="display:none;">
                                <button class="btn btn-xs" onclick="DownloadFile('@item.ClaimsInReturnId');CancelPropagation(event);">
                                    <img src="@Url.Content("~/Content/images/icon_arrange.png")" title="View" />
                                    <span>Download Return File</span>
                                </button>

                                <button class="btn btn-xs" onclick="ViewPaymentSummary('@item.ClaimsInReturnId');CancelPropagation(event);" style="padding-left: 20px;">
                                    <img src="@Url.Content("~/Content/images/icon_arrange.png")" title="View" />
                                    <span>View Payment Summary</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>   
        </table>
    </div>
</div>
<div class="modal fade" id="ViewPaymentSummary" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Payment Summary for <span id="paymentSummaryFileName"></span></h4>
                @*<div id="loadingImage"><img src='@Url.Content("~/Content/images/ajax_loader_blue_256.gif")' style='margin-bottom:30px;' /><br /><span style='padding-left:20px;'>Getting Payment Summary, please wait...</span></div>*@
                <table id="viewPaymentInfo" class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-sm-1">Group Index</th>
                            <th class="col-sm-1">Line Type</th>
                            <th class="col-sm-3">Line Description</th>
                            <th class="col-sm-1">Fee Submitted</th>
                            <th class="col-sm-1">Eligible Amount</th>
                            <th class="col-sm-1">Prem Total</th>
                            <th class="col-sm-1">Delivery Bonus</th>
                            <th class="col-sm-1">Final Paid Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-body">
                <div id="SubmissionResult" style="text-align:center;vertical-align:central;">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#claiminreturn').dataTable({
            "lengthMenu": [[50, 100, 300, -1], [50, 100, 300, "All"]],
            "pageLength": 100,
            "searching": false,
            "order": [[0, "desc"]],
            "columns": [
                { "orderDataType": "dom-text", "type": "de_datetime" },                
                null,
                null,
                null,
                null,
                { "orderable": false }
            ]
        });

        $('#ViewPaymentSummary').on('hide.bs.modal', function (e) {
            var table = $('#viewPaymentInfo').DataTable();
            table.destroy();
        })
    });

    function DownloadFile(id) {
        if (id != "") {
            var iframe = document.createElement("iframe");
            iframe.src = _applicationBaseUrl + '/ClaimsInReturn/DownloadFile?id=' + id;

            // This makes the IFRAME invisible to the user.
            iframe.style.display = "none";

            // Add the IFRAME to the page.  This will trigger
            //   a request to GenerateFile now.
            document.body.appendChild(iframe);
        } else {
            alert("Invalid parameters");
        }
    }

    function ViewPaymentSummary(id) {
        var fileName = $("#returnFileName_" + id).html();
        $("#paymentSummaryFileName").html(fileName);

        $("#ViewPaymentSummary").modal('show');

        $('#viewPaymentInfo').dataTable({
            "lengthChange": false,
            "pageLength": 100,
            "searching": false,
            "ajax": {
                url: _applicationBaseUrl + '/ClaimsInReturn/GetPaymentSummary/' + id,
            },
            "columns": [
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false }
            ]
        });
    }
</script>