@model MBS.Web.Portal.Models.ServiceRecordDetailModel

@{
    ViewBag.Title = "Create Claim Info";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body">        
        @using (Html.BeginForm("Create", "ServiceRecord", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        { 
			@Html.AntiForgeryToken()
			@Html.HiddenFor(m => m.Record.UserId)

            <div class="form-group" style="width:800px;">
                <div class="col-sm-offset-4">
                    <button class="btn btn-default" type="submit" tabindex="76" onclick="SetButtonUsedToSubmit('');">Save</button>
                    <button class="btn btn-default" type="submit" tabindex="77" onclick="SetButtonUsedToSubmit('SaveAndAddNew');">Save and Add New</button>
				    <button class="btn btn-default cancelButton" type="button" onclick="GoBack();CancelPropagation(event);"  tabindex="78">Cancel</button>
                    <div class="pull-right">
                        @Html.RadioButtonFor(m => m.Record.ClaimType, 0, Model.Record.ClaimType == 0) <span>MSB Claim</span>
                        @Html.RadioButtonFor(m => m.Record.ClaimType, 1, Model.Record.ClaimType == 1) <span>WCB Claim</span>
                    </div>
                </div>                
            </div>            
									
			<div class="pull-left">
                @Html.ValidationSummary()
				@Html.Partial("_CreateOrEdit", Model)
			</div>             
            
            <div class="form-group" style="width:800px;">
                <div class="col-sm-offset-4">
                    <button class="btn btn-default" type="submit" tabindex="73" onclick="SetButtonUsedToSubmit('');">Save</button>
                    <button class="btn btn-default" type="submit" tabindex="74" onclick="SetButtonUsedToSubmit('SaveAndAddNew');">Save and Add New</button>
				    <button class="btn btn-default cancelButton" type="button" onclick="GoBack();CancelPropagation(event);" tabindex="75">Cancel</button>
                </div>
            </div>
        }
	</div>
</div>

<script type="text/javascript">
    function GoBack() {
        window.location.href = "@Url.Action("NotSubmitted", "ServiceRecord")";
    }
</script>