<pages enableViewState="false" buffer="true"></pages>

@model IEnumerable<MBS.DomainModel.ClaimsIn>
@{
    ViewBag.Title = "View Submitted ClaimsIn Files";    
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body">        
        <div style="padding-bottom:10px;">
        <button class="btn btn-sm control_buttons" onclick="window.location.href='@Url.Action("Index", "ServiceRecord")';">
            <img src="@Url.Content("~/Content/images/icon_back.png")" title="Back to Submitted" />
            <span>Back to Submitted</span>
        </button> 
        </div>
        <table id="viewFiles" class="table table-hover">
            <thead>
                <tr>
                    <th class="col-sm-2">Submission Date</th>
                    <th class="col-sm-2">Claim Amount</th>
                    <th class="col-sm-2">File Name</th>
                    <th class="col-sm-2">Submission Status</th>
                    <th class="col-sm-5">Download</th>
                </tr>         
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var downloadDateString = string.Empty;
                    if (item.DownloadDate.HasValue)
                    {
                        var downloadDate = item.DownloadDate.Value.AddHours(ViewBag.TimeZoneOffset);
                        downloadDateString = string.Format("{0}/{1}/{2} {3}", downloadDate.ToString("dd"), downloadDate.ToString("MM"), downloadDate.ToString("yyyy"), downloadDate.ToString(" HH:mm:ss"));
                    }

                    <tr onmouseover="$(this).find('.control_buttons').show()" onmouseout="$(this).find('.control_buttons').hide()">
                        <td>
                            @downloadDateString
                        </td>
                        <td>
                            @string.Format("{0:C}", item.ClaimAmount)
                        </td>
                        <td>
                            @item.SubmittedFileName
                        </td>
                        <td>
                            @item.FileSubmittedStatus
                        </td> 
                        <td>
                            <div class="control_buttons clearfix" style="display:none;">
                                <button class="btn btn-xs" onclick="DownloadFile('@item.ClaimsInId');CancelPropagation(event);">
                                    <img src="@Url.Content("~/Content/images/icon_arrange.png")" title="View" />
                                    <span>ClaimsIn File</span>
                                </button>
                                <button class="btn btn-xs" onclick="DownloadValidation('@item.ClaimsInId');CancelPropagation(event);">
                                    <img src="@Url.Content("~/Content/images/icon_arrange.png")" title="View" />
                                    <span>Validation Summary</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>   
        </table>       
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#viewFiles').dataTable({
            "lengthMenu": [[50, 100, 300, -1], [50, 100, 300, "All"]],
            "pageLength": 100,
            "searching": false,
            "order": [[0, "desc"]],
            "columns": [
                { "orderDataType": "dom-text", "type": "de_datetime" },                
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false }
            ]
        });              
    });

    function DownloadFile(id) {
        if (id != "") {
            var iframe = document.createElement("iframe");
            iframe.src = _applicationBaseUrl + '/ClaimsIn/DownloadFile?id=' + id;

            // This makes the IFRAME invisible to the user.
            iframe.style.display = "none";

            // Add the IFRAME to the page.  This will trigger
            //   a request to GenerateFile now.
            document.body.appendChild(iframe);
        } else {
            alert("Invalid parameters");
        }
    }

    function DownloadValidation(id) {
        if (id != "") {
            var iframe = document.createElement("iframe");
            iframe.src = _applicationBaseUrl + '/ClaimsIn/DownloadValidation?id=' + id;

            // This makes the IFRAME invisible to the user.
            iframe.style.display = "none";

            // Add the IFRAME to the page.  This will trigger
            //   a request to GenerateFile now.
            document.body.appendChild(iframe);
        } else {
            alert("Invalid parameters");
        }
    }
</script>
